body{
    background-color: rgb(101, 131, 146);
    display: flex;
    margin: 0;
    height: 100vh;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    
}
#chat{
    background-color: whitesmoke;
    padding: 4px;
    height: 100%;
    min-width: 300px;
    box-shadow: 0px 0px 10px 2px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
div>p{
    margin:4px 0 0 0;
    padding: 4px;
    border-radius: 5px;
    /* max-width: 66%; */
}
div>p.server{
    background-color: rgb(187, 140, 66);
}
div>p.client{
    background-color: rgb(66, 187, 98);
    text-align: end;

    align-items: end;

}
